# Google Sheets Sync Credentials
# Get these from Google Cloud Console (IAM & Admin > Service Accounts)
GOOGLE_SERVICE_ACCOUNT_EMAIL=
# The private key should be the entire content of the "private_key" field from your JSON file
GOOGLE_PRIVATE_KEY=
# The ID of your spreadsheet (found in the URL: https://docs.google.com/spreadsheets/d/[SPREADSHEET_ID]/edit)
GOOGLE_SPREADSHEET_ID=
